@charset "utf-8";
/* body */
body {

	font:15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin:0;
    background-color: #f4f4f4;
}
/* container */
.container {

	width: 80%;
	margin: auto;
	overflow: hidden;
}

/* header style */
header{
    padding: 0px;
    margin: 0px;
    background-color: rgb(143, 28, 143);
    position: relative;
    top: 0px;
    width: 100%;
}
header h1{
    color: white;
    font-size: 35px;
    font-family: Times New Roman;
    margin: 12px;
}
header div nav a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
} 
header div nav a:hover{
    color:rgb(79, 79, 167);
    font-weight: bolder;
}
header div nav a:active{
    color: rgb(15, 9, 97);
    background-color: rgb(8, 8, 124);
}
main{
    padding: 20px;
    margin: 90px;
}
main h2{
    text-align: center;
}
main article{
    background-image: url('../img/pic1.jpg');
    width: 850px;
    padding: 150px;
}
main article p{
    width: 550px;
    padding: 50px;
    margin-left: 90px;
    background-color: white;
}


footer{
    background-color:  rgb(143, 28, 143);
}

